<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- E.g. https://eastus.azuredatabricks.net/api/ -->
    <add key="DATABRICKS_URI" value="____REPLACE_WITH_YOUR_WORKSPACE_URI____"/>
    
    <!-- Get access token of one Admin account from Databrick's Workspace -->
    <add key="DATABRICKS_TOKEN" value="____REPLACE_WITH_YOUR_WORKSPACE_ADMIN_ACCOUNT_TOKEN____"/>
    
    <!-- E.g. LDAP://company.com -->
    <add key="MSAD_LDAP_URI" value="____REPLACE_WITH_YOUR_MS_AD_LDAP_URI____"/>
    
    <!-- CN=SecurityGroupA,OU=UserAccounts,DC=company,DC=com -->
    <add key="MSAD_SECURITY_GROUP_DN" value="____REPLACE_WITH_YOUR_MS_AD_SECURITY_GROUP_DISTINGUISHED_NAME____"/>
    
    <!-- CN=PermissionSecurityGroupA,OU=UserAccounts,DC=company,DC=com -->
    <add key="MSAD_PERMISSION_SECURITY_GROUP_DN" value="____REPLACE_WITH_YOUR_MS_AD_PERMISSION_SECURITY_GROUP_DISTINGUISHED_NAME____"/>
    
    <!-- TRUE/FALSE, Enable remove account from Workspace -->
    <add key="ENABLE_REMOVE" value="FALSE"/>
    
    <!-- TRUE/FALSE, Enable add account from Workspace -->
    <add key="ENABLE_ADD" value="TRUE"/>
  </appSettings>
</configuration>